In [25]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,success,actual_time,optimal_time,world_idx,timestep,lidar_0,lidar_1,lidar_2,lidar_3,lidar_4,...,lidar_719,pos_x,pos_y,pose_heading,twist_linear,twist_angular,cmd_vel_linear,cmd_vel_angular,local_goal_x,local_goal_y
0,True,12.367,6.796149,0,0,2.970249,2.952848,2.942288,2.937646,2.942004,...,2.974557,-0.000416,0.006752,1.571106,0.054851,-0.000015,0.066,0.006651,-0.05,0.35
1,True,12.367,6.796149,0,1,2.970249,2.952848,2.942288,2.937646,2.942004,...,2.974500,-0.000416,0.006752,1.571106,0.054851,-0.000015,0.066,0.007315,-0.05,0.35
2,True,12.367,6.796149,0,2,2.970249,2.952848,2.942288,2.937646,2.942004,...,2.974500,-0.000416,0.006752,1.571106,0.054851,-0.000015,0.066,0.007315,-0.05,0.35
3,True,12.367,6.796149,0,3,2.970935,2.952720,2.942559,2.940268,2.943001,...,2.972595,-0.000417,0.008014,1.571247,0.060888,0.008210,0.072,0.007980,-0.05,0.35
4,True,12.367,6.796149,0,4,2.969906,2.953190,2.943104,2.942191,2.944316,...,2.972554,-0.000418,0.009397,1.571141,0.066950,-0.001348,0.078,0.008645,-0.05,0.35

In [26]:
# remove success == False
df = df[df['success'] == True]

In [27]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [success, actual_time, optimal_time, world_idx, timestep, lidar_0, lidar_1, lidar_2, lidar_3, lidar_4, lidar_5, lidar_6, lidar_7, lidar_8, lidar_9, lidar_10, lidar_11, lidar_12, lidar_13, lidar_14, lidar_15, lidar_16, lidar_17, lidar_18, lidar_19, lidar_20, lidar_21, lidar_22, lidar_23, lidar_24, lidar_25, lidar_26, lidar_27, lidar_28, lidar_29, lidar_30, lidar_31, lidar_32, lidar_33, lidar_34, lidar_35, lidar_36, lidar_37, lidar_38, lidar_39, lidar_40, lidar_41, lidar_42, lidar_43, lidar_44, lidar_45, lidar_46, lidar_47, lidar_48, lidar_49, lidar_50, lidar_51, lidar_52, lidar_53, lidar_54, lidar_55, lidar_56, lidar_57, lidar_58, lidar_59, lidar_60, lidar_61, lidar_62, lidar_63, lidar_64, lidar_65, lidar_66, lidar_67, lidar_68, lidar_69, lidar_70, lidar_71, lidar_72, lidar_73, lidar_74, lidar_75, lidar_76, lidar_77, lidar_78, lidar_79, lidar_80, lidar_81, lidar_82, lidar_83, lidar_84, lidar_85, lidar_86, lidar_87, lidar_88, lidar_89, lidar_90, lidar_91, lidar_92, lidar_93, lidar_94, ...]
Index: []

[0 rows x 734 columns]

In [28]:
df.describe()

,actual_time,optimal_time,world_idx,timestep,lidar_0,lidar_1,lidar_2,lidar_3,lidar_4,lidar_5,...,lidar_719,pos_x,pos_y,pose_heading,twist_linear,twist_angular,cmd_vel_linear,cmd_vel_angular,local_goal_x,local_goal_y
count,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,...,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000,200540.000000
mean,12.731146,5.705953,151.868460,340.027182,2.977978,2.973894,2.970005,2.966131,2.962435,2.956835,...,2.974177,-0.031480,4.134166,1.554468,0.709279,-0.001472,0.710038,-0.001961,-0.048144,4.451120
std,2.094962,0.366456,86.482099,205.708619,2.099984,2.112733,2.124795,2.136720,2.148487,2.159736,...,2.181376,0.524510,2.795738,0.346113,0.205768,0.248443,0.202546,0.219348,0.536361,2.801547
min,11.778000,5.026614,0.000000,0.000000,0.316017,0.312385,0.308484,0.304327,0.302636,0.299997,...,0.291395,-1.710844,-0.000102,-3.141033,-0.317507,-2.412546,-0.300000,-1.570796,-1.814288,0.293437
25%,11.923000,5.441711,78.000000,167.000000,1.693966,1.688156,1.682930,1.677800,1.673200,1.668052,...,1.612400,-0.294785,1.631851,1.467639,0.799555,-0.059794,0.800000,-0.065792,-0.325890,1.919969
50%,12.121000,5.612314,153.000000,335.000000,2.879627,2.865375,2.851746,2.838104,2.824749,2.811204,...,2.844913,-0.004195,4.014582,1.579035,0.800235,-0.000544,0.800000,0.000088,-0.050000,4.300000
75%,12.502000,5.891979,227.000000,503.000000,3.187622,3.172247,3.157621,3.144867,3.130252,3.113974,...,3.177820,0.217379,6.539444,1.680124,0.801052,0.044571,0.800000,0.052247,0.231511,6.875039
max,25.666000,6.867653,299.000000,1328.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,1.690635,9.312726,3.140765,0.810490,2.206750,0.800000,1.570796,1.689592,10.000000

In [29]:
# calculate the number of unsuccessful group by world_idx
df['success'].value_counts()

True    200540
Name: success, dtype: int64

In [30]:
id_list = df["world_idx"].unique()

In [31]:
# find world idx 0-299 not in id_list
missing = [i for i in range(300) if i not in id_list]
print(missing)

[58, 282]

In [32]:
# save to csv
df.to_csv('data_sorted.csv', index=False)

In [1]:
import pandas as pd

df_sorted = pd.read_csv('data_sorted.csv')
df_sorted.head()

,success,actual_time,optimal_time,goal_x,goal_y,world_idx,lidar_0,lidar_1,lidar_2,lidar_3,...,lidar_718,lidar_719,pos_x,pos_y,pose_heading,twist_linear,twist_angular,cmd_vel_linear,cmd_vel_angular,timestep
0,True,16.639,6.796149,0.0,10.0,0,2.975059,2.950377,2.938696,2.933910,...,2.950528,2.976332,-0.000009,0.000073,1.570909,0.000043,0.008641,0.006,0.000665,0
1,True,16.639,6.796149,0.0,10.0,0,2.975632,2.949891,2.938163,2.934393,...,2.949972,2.976789,-0.000009,0.000073,1.570903,0.000043,0.003630,0.012,0.001330,1
2,True,16.639,6.796149,0.0,10.0,0,2.974015,2.950373,2.940136,2.935323,...,2.951352,2.975511,-0.000009,0.000193,1.570919,0.003106,0.004454,0.018,0.001996,2
3,True,16.639,6.796149,0.0,10.0,0,2.972146,2.951025,2.939157,2.935039,...,2.950131,2.976381,-0.000009,0.000432,1.570933,0.007701,0.001190,0.024,0.002661,3
4,True,16.639,6.796149,0.0,10.0,0,2.974818,2.951458,2.940485,2.935588,...,2.950873,2.976459,-0.000009,0.000792,1.570969,0.013069,0.005987,0.030,0.003326,4